<robot
  name="niot_flower_green">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.064213 2.1312 0.17313"
        rpy="0 0 0" />
      <mass
        value="7.2406" />
      <inertia
        ixx="1.6342"
        ixy="-1.1134E-17"
        ixz="-2.6353E-34"
        iyy="5.6259E-33"
        iyz="4.0953E-17"
        izz="1.6342" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://niot_flower_green/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://niot_flower_green/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>