<robot
  name="niot_flower_red">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.028913 2.91 0.18357"
        rpy="0 0 0" />
      <mass
        value="7.5827" />
      <inertia
        ixx="3.7733"
        ixy="-1.0053E-16"
        ixz="2.7481E-33"
        iyy="1.0174E-32"
        iyz="1.2251E-16"
        izz="3.7733" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://niot_flower_red/meshes/base_link.STL" scale="0.75 0.75 0.75"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://niot_flower_red/meshes/base_link.STL" scale="0.75 0.75 0.75"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
</gazebo>
<gazebo>
<static>true</static>
</gazebo>
</robot>