<?xml version="1.0"?>
<model>
  <name>niot_flower_red</name>
  <version>0.1</version>
  <sdf>urdf/niot_flower_red.urdf</sdf>
  <author>
    <name>Abhinav Arora</name>
    <email>root@abhinavarora.com</email>
  </author>
  <description>
      A description of the model
    </description>
</model>