<robot
  name="niot_torpedo">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.092871 0.37499 0.12629"
        rpy="0 0 0" />
      <mass
        value="11.226" />
      <inertia
        ixx="0.58018"
        ixy="1.6526E-16"
        ixz="-1.8857E-19"
        iyy="6.3839E-07"
        iyz="0.00056597"
        izz="0.58018" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://niot_torpedo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://niot_torpedo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>